* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    ;
}
nav{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.menu{
    display: flex;
    list-style: none;
}
.menu a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
}
.menu a:hover{
    background-color: gray;
    color: white;

}
.logo a{
    display: flex;
    font-size: 2rem;

}

h1 {
    color: black;
    height: 100px;
    text-align: center;
    font-family: 'Poltawski Nowy', serif;
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-family: 'Marcellus', serif;

}
p{
    line-height: 1.5;
}
h3,h4{
    font-family: 'Marcellus', serif;
}

.imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.imagenes:hover{
    opacity: 1;
    border: white 3px;
}